### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
migrations/
Scripts/
Lib/
pyvenv.cfg

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules/
bower_components/
